<!-- if value, then it's a property of the element, and what's inside "" is a value -->
<!-- if [value], then what's inside "" is angular code -->
<!-- when [value], if you want a string, then wrap in '' -->
<!-- NgModel is an angular directive, used in two way biding, basically it's a instruction you place in a HTML element -->
<!-- ngModel is a dirctive that listens to user input -->
<textarea rows="6" [(ngModel)]="enteredValue"></textarea>
<hr>
<!-- listening to events: how does a button work - event biding-->
<!-- tipically we a pass the name of methos on the post-create.ts-->
<button (click)="onAddPost()">Save Post</button>
<!-- to output something, use string interpolation -->
<p>{{ newPost }}</p>