<!-- if value, then it's a property of the element, and what's inside "" is a value -->
<!-- if [value], then what's inside "" is angular code -->
<!-- when [value], if you want a string, then wrap in '' -->
<!-- NgModel is an angular directive, used in two way biding, basically it's a instruction you place in a HTML element -->
<!-- ngModel is a dirctive that listens to user input -->
<!-- we need a wrapper for the material componenet to work -->
<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">   <!-- gives acces to this object angular created -->
        <mat-form-field>
            <input 
                matInput 
                type="text"
                name="title"
                ngModel
                required
                minlength="3"
                placeholder="Post Title"
                #title="ngModel">
                <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea 
                matInput 
                rows="6" 
                name="content"
                ngModel
                required
                placeholder="Post Content"
                #content="ngModel"></textarea>
                <mat-error *ngIf="content.invalid">Please enter a post</mat-error>
        </mat-form-field>
        <button 
            mat-raised-button 
            color="primary"
            type="submit">Save Post</button>
    </form>
</mat-card>
<!-- listening to events: how does a button work - event biding-->
<!-- tipically we a pass the name of methos on the post-create.ts-->

<!-- to output something, use string interpolation -->
